*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.containerPrincipal{
    background-color: red;
    width: 60%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

#carouselExampleAutoplaying{
    width: 50%;
    height: 100%;
    background-color: green;
    overflow: hidden;
}

#carouselExampleAutoplaying .carousel-inner img{
  width: 100%;
  height: 655px;  
  
}

/* .carousel-inner img{
 position: relative; 
 z-index: 2;
    
  }

.logo{
    position: absolute;
    z-index: 1;
} */



.formulario{
    width: 50%;
    height: 100%;
    background-color:gray;
}