*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #3a3a3a  !important; 
  font-size: 16px;
}

.containerPrincipal{
  background-color: rgb(255, 255, 255);
  width: 60%;
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-radius: 30px;
  box-shadow: 20px 20px 10px rgba(14, 14, 14, 0.2);

}

#carouselExampleAutoplaying{
  width: 50%;
  height: 100%;
  background-color: green;
  overflow: hidden;
  border-radius: 30px 0  0  30px;
}


.carousel-inner{
  width: 100%;
  height: 100%;
}

.carousel-item{
  width: 100%;
  height: 100%;
}

#carouselExampleAutoplaying .carousel-item img{
  width: 100%;
  height: 100%; 
  object-fit: cover;
  display: block; 
  
  }


.registroVisita{
  width: 50%;
  height: 100%;
  /* background-color:rgb(13, 13, 13); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerRegistro{
  /* background-color: rgb(18, 160, 18); */
  width: 85%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content:start;
  align-items: center;
  
}

.logoCFE{
  width: 100%;
  height: 25%;
  background-color: #555;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}

.logoCFE img{
width:65%;
height: auto;
}

.cabezeraRegistro{
  width: 100%;
  height: 45%;
  /* background-color: #555; */
  border-radius: 10px;
}
.cabezeraRegistro h2{
  height: 100%;
display: flex;
justify-content: center;
align-items: center;
font-family: 'Lato', sans-serif;
font-weight: 600;
text-transform: uppercase;
color: white;
text-shadow: 0 0 10px #008E5A;
text-align: center;
color: #008E5A;
}

.formulario{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
  height: 20%;
  
}


/* boton con efecto */
.recorridoB{
  width: 100%;
  height: 60%;
  background:#008E5A;
  color:#fff;
  border:none;
  position:relative;
  font-size:1.45em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  border-radius: 10px;


}
.recorridoB:hover{
  background:#fff;
  color:#008E5A !important;
  
}
.recorridoB:before,.recorridoB:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #008E5A;
  transition:400ms ease all;
  color:#008E5A !important;
}
.recorridoB:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
  color:#008E5A !important;
}
.recorridoB:hover:before,.recorridoB:hover:after{
  width:100%;
  transition:800ms ease all;
  color:#008E5A !important;
}

a:visited {
  color: inherit; /* Hereda el color del elemento padre */
}

/* ------------ */


/* responsibidad */
@media only screen and (max-width: 740px) {
  
.containerPrincipal{
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

 #carouselExampleAutoplaying{
width: 90%;
margin-top: 20px;
border-radius: 30px;
}



/*
#carouselExampleAutoplaying .carousel-item img{
  width: 100%;
  height: 100%; 
  object-fit: cover;
  display: block; 
  } */

.registroVisita{
width: 100%;
}
.logoCFE{
display: none;
}

.cabezeraRegistro h2{
font-size: 1.4rem;
margin-top: 30px;

}

.formulario{
margin-top: 60px;
}

.recorridoB{
padding: 5px;
font-size:1rem;
width: 80%;
height: 100%;
font-weight: 600;
}

}


@media only screen and (min-width: 740px) and (max-width: 991px) {
  .containerPrincipal{
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }

  

  .recorridoB{
      padding: 5px;
      font-size:.9rem;
      width: 80%;
      height: 100%;
      font-weight: 600;
      }

  .formulario{
      margin-top: 60px;
      height: 15%;
      }  
    }  


@media only screen and (min-width: 992px) and (max-width: 1199px) {

  .cabezeraRegistro h2{
    font-size: 1.55rem;
    }
  
  .recorridoB{
      font-size:1rem;
    }

  
 }

 @media only screen and (min-width: 1200px) {

  .recorridoB{
    font-size:1rem;
  }

  .cabezeraRegistro h2{
    font-size: 1.5rem;
    margin-top: 20px;
    
    }


 
}